body{
	background-color:#343a40;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation{
	display:inline-flex;
}
.navigation nav{
	margin:4px;
}

.smallForm{
	width:60px;
}

.flipped{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.fit-image{
	width:100%;
}
.type-small{
	width:72px;
}

.link{
	cursor:pointer;
}

.link:hover{
	background-color:#333333;
	border: 1px white solid;
}

.centered{
	margin:auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
